@import "tailwindcss";

@theme {
  --breakpoint-xs: 24rem;
  --breakpoint-3xl: 121rem;
}

html {
  scroll-behavior: smooth;
}

@layer utilities {
  .text-outline {
    -webkit-text-stroke: 1px white;
  }
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in-left {
  animation: slide-in-left 0.8s ease-out forwards;
}

.animate-slide-in-right {
  animation: slide-in-right 0.8s ease-out forwards;
}